@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-brand-green: #8fc73e;
  --color-brand-dark: #064e3b;
  --color-brand-yellow: #FACC15;
  --color-brand-red: #EF4444;
  --color-brand-light: #F9FAFB;

  --font-outfit: var(--font-outfit);
  --font-poppins: var(--font-poppins);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
  overflow-x: hidden;
}